h1{
    padding: 10px;
}
@font-face {
    font-family: Aleo;
    src: url('/fonts/Aleo-LightItalic.ttf');
}
.logo{
    font-family: 'Aleo', serif;
}
.box{
    border: 1px solid transparent;
    border-radius: 25px;
    width: 10px;
    height: 25px;
}
.produtos{
    margin: 10px auto;
    padding: 40px !important;
}
.user{
    margin-top: 4px;
}
.space{
    margin-left: 30px;
}
.space-footer{
    margin-bottom: 120px;
}
.space-row{
    margin: 40px;
}
.add{
    font-size: 18px;
    margin: 13px;
    padding: 5px;
    
    
}
.novo{
    margin-bottom: 30px;
    font-size: 20px;
}
.icon-lista{
    margin-top: 40px;
    margin-bottom: -4px;
    color: #404141 !important;
}
.icon-logo{
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: -10px;
}
.icon-item{
    margin-top: 30px;
    margin-bottom: -2px;
    
}
.icon-add{
    margin-bottom: -3px;
    color: rgba(0, 0, 0, 0.74) !important;
    
}
.icon-form {
    margin-bottom: -3px;
    color: rgba(241, 28, 28, 0.733) !important;

}
.icon-add-for{
    margin-bottom: -2px;
    color: white !important;
}
.icon-modal{
    font-size: 18px;
    margin-bottom: -2px;
    color: rgba(0, 0, 0, 0.74) !important;
}
.icon{
    margin-top: 7px;
    font-size: 20px;
}
.return-page{
    margin-bottom: -10px;
}
a{
    color: #8c939a !important;
}
ion-icon {
  color: #6c757dc5 !important;
}
.footer {
    margin-bottom: 20px;
}